<p id="notice"><%= notice %></p>

<p>
  <strong>Type of building:</strong>
  <%= @quote.type_of_building %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @quote.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quote.email %>
</p>

<p>
  <strong>Number of floors:</strong>
  <%= @quote.number_of_floors %>
</p>

<p>
  <strong>Number of apartments:</strong>
  <%= @quote.number_of_apartments %>
</p>

<p>
  <strong>Number of basements:</strong>
  <%= @quote.number_of_basements %>
</p>

<p>
  <strong>Number of companies:</strong>
  <%= @quote.number_of_companies %>
</p>

<p>
  <strong>Number of parking spots:</strong>
  <%= @quote.number_of_parking_spots %>
</p>

<p>
  <strong>Number of elevators:</strong>
  <%= @quote.number_of_elevators %>
</p>

<p>
  <strong>Number of corporations:</strong>
  <%= @quote.number_of_corporations %>
</p>

<p>
  <strong>Maximum occupancy:</strong>
  <%= @quote.maximum_occupancy %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @quote.business_hours %>
</p>

<p>
  <strong>Product line:</strong>
  <%= @quote.product_line %>
</p>

<p>
  <strong>Elevator amount:</strong>
  <%= @quote.elevator_amount %>
</p>

<p>
  <strong>Elevator unit price:</strong>
  <%= @quote.elevator_unit_price %>
</p>

<p>
  <strong>Elevator total price:</strong>
  <%= @quote.elevator_total_price %>
</p>

<p>
  <strong>Installation fees:</strong>
  <%= @quote.installation_fees %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @quote.final_price %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
